div {
    background-color: white;
    position: relative;
    top: 50px;
    left: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}
#img1 {
    position: absolute;
    top: 25px;
    left: 25px;
}
#img2 {
    position: absolute;
    top: 228px;
    left: 25px;
}
#img3 {
    position: absolute;
    top: 428px;
    left: 25px;
}